{% extends 'workertemp/worker_home.html' %}
{% load crispy_forms_tags %}
{% block content %}
<div class="col-lg-12 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                  <h4 class="card-title">Weather Details</h4>
                  <div class="table-responsive">
                    <table class="table table-striped">
                      <thead>
                        <tr>
                          <th>sl No.</th>
                          <th>Date</th>
                          <th>Predicted Date</th>
                          <th>Type</th>
                          <th>Description</th>
                        </tr>
                      </thead>
                      <tbody>
                      {% for i in data %}
                        <tr>
                          <td class="py-1">{{ forloop.counter }}</td>
                          <td>{{ i.current_date }}</td>
                          <td>{{ i.predict_date }}</td>
                          <td>{{ i.type }}</td>
                          <td>{{ i.description }}</td>
                                </form>
                          </td>
                        </tr>
                      {% endfor %}
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
{% endblock %}