{% extends 'admintemp/admin_home.html' %}
{% load crispy_forms_tags %}
{% block content %}
<div class="col-lg-12 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                  <h4 class="card-title">Customers</h4>
                  <div class="table-responsive">
                    <table class="table table-striped">
                      <thead>
                        <tr>
                          <th>sl No.</th>
                          <th>NAME</th>
                          <th>CONTACT NO.</th>
                          <th>Email</th>
                          <th>ADDRESS</th>
                          <th>Remove</th>
                        </tr>
                      </thead>
                      <tbody>
                      {% for i in data %}
                        <tr>
                          <td class="py-1">{{ forloop.counter }}</td>
                          <td>{{ i.name }}</td>
                          <td>{{ i.contact_no }}</td>
                          <td>{{ i.email }}</td>
                          <td>{{ i.address }}</td>
                          <td>
                            <form action="{% url 'customers_remove' i.id %}" method="post">
                                {% csrf_token %}
                                <input type="hidden" name="customer" value="{{ i.id }}"/>
                                <button type="submit" class="btn btn-info">Delete</button>
                                </form>
                          </td>
                        </tr>
                      {% endfor %}
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
{% endblock %}