{% extends 'officertemp/officer_home.html' %}
{% load crispy_forms_tags %}
{% block content %}
<style>
  .ash{
  border:1px solid #adb5bd;
  padding:25px;
  border-radius: 0px 80px 80px 0px;
  width:600px;
  }
  .head{
  padding:22px;
  }
  .head{
  border-radius: 40px 40px 40px 40px;
  }
</style>
<div class="head" style="background-color:#F08080; width:100%; text-align:center">
    <h3>ANNOUNCEMET</h3>
      </div>
<div class="card">
  <div class="card-body">

{% for i in content %}
      <div class="ash mt-4" style="background-color:#C0C0C0">
    <h5>{{i.user}}</h5>
    <p class="mt-3">{{i.content}}</p>
          </div>
{% endfor %}


  </div>
</div>
{% endblock %}